@model dynamic

@{
    ViewBag.Title = "New Rental Form";
}

<h2>New Rental Form</h2>

<form id="newRental">
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="customer" name="customer" data-rule-validCustomer="true" required type="text" value="" class="form-control"/>
        </div>
    </div>

    <div class="form-group">
        <label>Movie</label>
        <div class="tt-container">
            <input id="movie" name="movie" data-rule-atLeastOneMovie="true" type="text" value="" class="form-control"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <ul id="movies" class="list-group"></ul>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-primary">Submit</button>
    </div>
</form>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function() {
            
            var vm = {
                movieIds: []
            };

            $(document).on("click", "#movies .removeMovie", function () {
                var removeId = $(this).data("movie-id");
                vm.movieIds.splice($.inArray(removeId, vm.movieIds), 1);
                $(this).parent().remove();
            });

            $( "#movie" ).autocomplete({
                source: function( request, response ) {
                    $.ajax( {
                        url: "/api/movies?query=" + request.term,
                        dataType: "json",
                        success: function( json ) {
                            response($.map(json, function (data, id) {  
                                return {  
                                    label: data.name,  
                                    value: data.id  
                                };  
                            })); 
                        }
                    } );
                },
                select: function (event, ui) {
                    if (vm.movieIds.length > 0 & jQuery.inArray(ui.item.value, vm.movieIds) !== -1) {
                        toastr.error("Cannot add the same movie twice.");
                        return false;
                    }
                    //{"item":{"label":"Die Hard","value":1}}
                    $("#movies").append("<li class='list-group-item'>" + ui.item.label + "<div data-movie-id='" + ui.item.value + "' class='ml-1 btn btn-sm btn-danger removeMovie'>X</div></li>");
                    $("#movie").val("");
                    vm.movieIds.push(ui.item.value);
                    return false;
                },
                minLength: 2
            });

            $( "#customer" ).autocomplete({
                source: function( request, response ) {
                    $.ajax( {
                        url: "/api/customers?query=" + request.term,
                        dataType: "json",
                        success: function( json ) {
                            response($.map(json, function (data, id) {  
                                return {  
                                    label: data.name,  
                                    value: data.id  
                                };  
                            })); 
                        }
                    } );
                },
                select: function (event, ui) {
                    console.log(ui);
                    vm.customerId = ui.item.value;
                    $("#customer").val(ui.item.label);
                    console.log(vm);
                    return false;
                },
                minLength: 2
            } );

            $.validator.addMethod("validCustomer",
                function() {
                    return vm.customerId && vm.customerId !== 0;
                },
                "Please select a valid customer.");

            $.validator.addMethod("atLeastOneMovie",
                function() {
                    return vm.movieIds.length > 0;
                },
                "Please select at least one movie.");

            var validator = $("#newRental").validate({
                submitHandler: function() {
                    $.ajax({
                            url: "/api/rentals/newRental",
                            method: "post",
                            data: vm
                        })
                        .done(function() {
                            toastr.success("Rentals successfully recorded.");
                            $("#customer").val("");
                            $("#movie").val("");
                            $("#movies").empty();

                            vm = { movieIds: [] };

                            validator.resetForm();
                        })
                        .fail(function() {
                            toastr.error("Something unexpected happened.");
                        });

                    return false;
                }
            });
            
        });
    </script>
}